<body>
    
        <div class="row my-row">
            <div class="col-5 my-col">
                <img class="a"src="assets/gallery/b.jpg">
            </div>
            <div class="col-7 my-col">
                <img class="a" src="assets/gallery/c.jpg">
            </div>
        </div>

        <div class="row my-row">
            <div class="col-7 my-col">
                <img class="b" src="assets/gallery/d.jpg">
            </div>
            <div class="col-5 my-col">
                <img class="b" src="assets/gallery/a.jpg">
            </div> 
        </div>

        <div class="row my-row">
            <div class="col-5 my-col">
                <img class="c" src="assets/gallery/f.jpg">
            </div>
            <div class="col-7 my-col">
                <img class="c" src="assets/gallery/g.jpg">
            </div>
        </div>

        <div class="row my-row">
            <div class="col-5 my-col">
                <img class="d" src="assets/gallery/n.jpg">
            </div>
            <div class="col-7 my-col">
                <img class="d" src="assets/gallery/o.jpg">
            </div>
        </div>

        <div class="row my-row">
            <div class="col-7 my-col">
                <img class="d" src="assets/gallery/e.jpg">
            </div>
            <div class="col-5 my-col">
                <img class="d" src="assets/gallery/h.jpg">
            </div>
        </div>

        <div class="row my-row">
            <div class="col-4 my-col">
                <img class="d" src="assets/gallery/i.jpg">
            </div>
            <div class="col-8 my-col">
                <img class="d" src="assets/gallery/j.jpg">
            </div>
        </div>
        
        <div class="row my-row">
            <div class="col-7 my-col">
                <img class="d" src="assets/gallery/k.jpg">
            </div>
            <div class="col-5 my-col">
                <img class="d" src="assets/gallery/m.jpg">
            </div>
        </div>
        
   
</body>