<body>
<h3>GYM FEE STRUCTURE</h3>
<div class="row">
    <h5>Regular Gym Fee</h5>

    <div class="col-10">
        <h6>Per Day Charges</h6>
        <p>Trial is not allowed. We are charging Rs. 500 per day for visitors. In case they join on monthly basis after one or two
        days visit, this amount will be adjusted in monthly fee for your ease. :)</p>
    </div>
    <div class="col-2">
        <h5>Rs. 500</h5>
    </div>
    <hr>

    <div class="col-10">
        <h6>Membership Fee</h6>
        <p>Life Time Membership of <b>Hulk Fitness Gym</b> on joining (one time payment only)</p>
    </div>
    <div class="col-2">
        <h5>Rs. 6000</h5>
    </div>
    <hr>

    <div class="col-10">
        <h6>Monthly Fee</h6>
        <p>Including all facilities of Gym. General Training is included in this fee under supervision of 
        certified fitness trainers. We are providing Group classes in this gym fee both in ladies and Co-timings.</p>
    </div>
    <div class="col-2">
        <h5>Rs. 6000</h5>
    </div>
    <hr>

    <div class="col-10">
    <h6>Personal Training</h6>
    <p>One to One personal training sessions includes customized diet charts along with customized training plans.</p>
    </div>
    <div class="col-2">
        <h5>Rs. 15000</h5>
    </div>
    <hr>

    <div class="col-12">
        <p class="note">Note: According to company policy, gym fee including membership is not refundable. 
        Also we are not providing account freeze option in case of holidays from client. 
        In case of lockdown from Government, account freeze option will be applicable by default.</p>
    </div>
</div>
</body>
