<body>
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/home/hulk.jpg" class="d-block mx-auto">
            </div>
            <div>
                <p>“The dictionary is the only place that success comes before work. work is the key to success, and
                    hard work can help you
                    accomplish anything.”</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/home/grp.jpg" class="d-block w-100">
            </div>
            <div>
                <p>
                    No pain, no gain!
                </p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/home/b.jpg" class="d-block mx-auto ">
            </div>
            <div>
                <p>
                    Everybody wanna be a bodybuilder, but don’t nobody wanna lift no heavy ass weights!!
                </p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/home/gg.jpg" class="d-block mx-auto">
            </div>
            <div>
                <p>
                    “Exercise not only changes your body. It changes your mind, your attitude, and your mood.”

                </p>
            </div>
        </ng-template>
    </ngb-carousel>
    <hr>
    <div class="content">
        <p>“One of the most important keys to success is having the discipline to fo what you know you should do even
            when you
            don’t feel like doing it.”
        </p>
    </div>
</body>